# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/src/public
/src/output
/src/node_modules
/.vscode
/src/Tests
/src/antd.bom.xml
/src/package-lock.json
/src/Components/app.jsx
/src/Components/Services
/src/Components/resets
/src/Components/Monitors
/src/Components/General/autocomplete.jsx.old