# Starter pipeline

# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: PowerShell@2
  displayName: Building The Module
  inputs:
    filePath: '.\src\build.ps1'
    pwsh: true

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '.\src\output\UniversalDashboard.Antd' 
    includeRootFolder: false
    archiveFile: '$(Build.ArtifactStagingDirectory)/UniversalDashboard.Antd.zip' 

- task: PublishPipelineArtifact@0
  inputs:
    artifactName: 'UniversalDashboard.Antd'
    targetPath: $(Build.ArtifactStagingDirectory)

- task: GitHubRelease@1
  displayName: 'GitHub release (create)'
  inputs:
    gitHubConnection: 'github connection 1'
    tagSource: userSpecifiedTag
    tag: 'v.1.0.$(Build.BuildId)'
    isPreRelease: false
    changeLogType: issueBased
    title: UniversalDashboard.Antd

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      Invoke-RestMethod -Method Post -Uri http://e9541b8b.ngrok.io/api/Notification -Body @{
      Time = (Get-Date).ToString(); Message = "Finish to build the module - v.1.0.$(Build.BuildId)";
      Download = ("https://dev.azure.com/alon-gvili/UniversalDashboard.Antd/_apis/build/builds/$(Build.BuildId)/artifacts?artifactName=UniversalDashboard.Antd&api-version=4.1").downloadUrl
      }